<div class="collection-item grey lighten-4 row" *ngIf="!record">
  Loading...
</div>
<div class="collection-item grey lighten-4 {{categories[record.category].class}} row">
  <div class="col 3 left">
    <i class="material-icons">{{categories[record.category].icon}}</i>
  </div>
  <div class="col 3 center">
    <p>{{categories[record.category].label}}</p>
  </div>
  <div class="col 3">
    <p>{{record.date | date: 'd/MM/yy'}}</p>
  </div>
  <div class="col 3 right">
    <p *ngIf="record.type=='expense'">-{{record.amount}}€</p>
    <p *ngIf="record.type=='income'">{{record.amount}}€</p>
  </div>
</div>
